@using VotingSystem.Dto.PaymentInvoices;
@model CreatePaymentInvoiceDto;

@{
    ViewData["Title"] = "Payment Invoice";
    ViewData["SubTitle"] = "Create Payment Invoice";
}

<div class="row">
    <div class="col-md-12">
        <div class="card card-user">
            <div class="card-header">
                <h5 class="card-title">@ViewData["SubTitle"]</h5>
            </div>
            <div class="card-body">
                <form asp-action="CreatePaymentInvoice">
                    <div class="row">
                        <div class="col-md-6 pr-1">
                            <div class="form-group">
                                <label>Candidate Id</label>
                                <input type="text" class="form-control" name="CandidateId" placeholder="CandidateId">
                            </div>
                        </div>
                        <div class="col-md-6 pl-1">
                            <div class="form-group">
                                <label>Payment Evidence</label>
                                <input type="image" class="form-control" name="PaymentEvidence" placeholder="Payment Evidence">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <button type="submit" class="btn btn-primary btn-round">Create Invoice</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
