@page

<h1>Welcome to Identity</h1>

<p>

    IMPORTANT: Please run migration commands as
    explained in the first tutorial.
    Otherwise things will not work.
    Migration commands will create database on YOUR PC.

</p>

<a href="/Restricted">Click to View Restricted Page</a>