@using VotingSystem.Data.Entities
@using VotingSystem.Dto.Manifestoes;

@{
    ViewData["Title"] = "Manifesto";
    ViewData["SubTitle"] = "Create Manifesto";

    var id = ViewContext.RouteData.Values["candidateId"];
}

<div class="row">
    <div class="col-md-12">
        <div class="card card-user">
            <div class="card-header">
                <h5 class="card-title">@ViewData["SubTitle"]</h5>
            </div>
            <div class="card-body">
                <form asp-action="CreateManifesto" asp-controller="Manifesto" asp-route-candidateId="@id" enctype="multipart/form-data" >
                    <div class="row">
                        <div class="col-md-6 pl-1">
                            <label>Manifesto Content</label>
                            <div style="padding: 1px; border: 1px solid #ccc; border-radius: 5px;">
                                <input type="file" class="form-control" name="manifestoFileFile" placeholder="Upload Manifesto" accept=".pdf,.doc,.docx,.txt">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <button type="submit" class="btn btn-primary btn-round">Submit Manifesto</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


