@using VotingSystem.Dto.Manifestoes;
@model CreateManifestoDto;

@{
    ViewData["Title"] = "Manifesto";
    ViewData["SubTitle"] = "Create Manifesto";

    var id = ViewContext.RouteData.Values["candidateId"];
}

<div class="row">
    <div class="col-md-12">
        <div class="card card-user">
            <div class="card-header">
                <h5 class="card-title">@ViewData["SubTitle"]</h5>
            </div>
            <div class="card-body">
                <form asp-action="CreateManifesto" asp-controller="Manifesto" asp-route-candidateId="@id">
                    <div class="row">
                        <div class="col-md-6 pr-1">
                            <div class="form-group">
                                <label>Candidate</label>
                                <select class="form-control" name="CandidateId">
                                    <!-- Populate with candidates -->
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6 pl-1">
                            <div class="form-group">
                                <label>Manifesto Content</label>
                                <ima class="form-control" name="ManifestoNote" placeholder="Enter Manifesto"></ima>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <button type="submit" class="btn btn-primary btn-round">Submit Manifesto</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
